@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

h2{
    text-align: center;
    font-family: 'Anton', sans-serif;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 40px;
    
}

a{
    text-decoration: none;
    color: white;
}

/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.accordion {
  max-width: 400px;
  margin: 0 auto;
}
.accordion input{
  display: none;
}
.accordion input + label {
  position: relative;
  display: block;
  cursor: pointer;
  font-weight: 700;
  font-size: 1em;
  padding: 10px 40px;
  color: #ddd;
  background: #363636;
  background: -webkit-linear-gradient(top, #363636 0%, #363636 50%, #454545 90%, #363636 100%);
}
.accordion label i {
  font-size: 0.9em;
  position: absolute;
  left: 15px;
  top: 14px;
}
.accordion label i.fa-chevron-down {
  right: 20px;
  left: auto;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.accordion input:checked + label {
  background: #0B94BF;
  color: #fff;
}
.accordion input:checked + label i.fa-chevron-down{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.accordion input + label:hover {
  background: -webkit-linear-gradient(top, #DAA520 0%, #DAA520 50%, #DAA520 90%, #DAA520 100%);
  color: #000;
}
.accordion .item {
  transform: scaleY(0);
  transform-origin: top;
  max-height: 0px;
  overflow: hidden;
  position: relative;
  border: 1px solid #bbb;
  padding: 0 15px;
  font-weight: normal;
  font-size: 14px;
  background: #fff;
  color: #000;
  transition: all 0.3s ease-in-out;
}
#item1:checked ~ #content1,
#item2:checked ~ #content2,
#item3:checked ~ #content3,
#item4:checked ~ #content4 {
  max-height: 350px;
  transform: scaleY(1);
}
.accordion .item h4, .accordion .item p{
  margin: 0;
  padding: 0;
}
.accordion .item h4 {
  padding: 10px;
  border-bottom: 1px solid #bbb;
}
.accordion .item p {
  padding: 10px 0;
}